# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
dist/
*.egg-info/
.installed.cfg
*.egg
*.manifest

# PyInstaller
#  Typically these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project

# Logs and databases
*.log
*.sqlite3

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python environment files
*.env
*.venv

*.log
debug_helper.py

*.exe 